<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txy.omall.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.txy.omall.model.Goods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_price" jdbcType="VARCHAR" property="goodsPrice" />
  </resultMap>
</mapper>